 *{
        margin: 0;
        padding: 0;
        font-family: "Open Sans",sans-serif;
        box-sizing: border-box;
    }
     
    body{
        margin: 0;
        align-items: center;
        justify-content: center;
        background-color: #f1f1f1;
    }
    #header {
        background-color: #fff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        padding: 20px;
      }
      
      .logo{
          display: flex;
          justify-content: flex-start;
          width: 150px;
      
      }
      #header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:20px 80px;
      }
      #navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
      }
      #navbar li{
        list-style:none;
        padding:0 30px;
      }
      #navbar li a{
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color:black;
        transition : 0.3s ease;
      }
      #navbar li a:hover{
        color:cadetblue;
      }
      .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: #0087ca;
      }
      
      .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #0087ca;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      
    .about-section{
        background: url(images/working-home-tips-retina_retina_c4da0cd4d336cfd6501e7b1066eed704.jpg) no-repeat center center;
        background-size: cover;
        position: relative;
        background-color: #fdfdfd;
        overflow:auto;
        height: 100vh;
        padding: 170px 0;
        padding-right:10% ;
    }
    .inner-container{
        width: 55%;
        float: right;
        background-color: #fdfdfd;
        padding: 10% 5%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
     
    }
    .inner-container h1{
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 900;
    }
     
    .text{
        font-size: 13px;
        color: #545454;
        line-height: 30px;
        text-align: justify;
        margin-bottom: 40px;
    }
    h1{
      color: #F85370;
    }
     
    .skills{
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        font-size: 13px;
    }
     
    @media screen and (max-width:1200px){
        .inner-container{
            padding: 80px;
        }
    }
     
    @media screen and (max-width:1000px){
        .about-section{
            background-size: 100%;
            padding: 100px 40px;
        }
        .inner-container{
            width: 100%;
        }
    }
     
    @media screen and (max-width:600px){
        .about-section{
            padding: 0;
        }
        .inner-container{
            padding: 60px;
        }
    }
    span{
      cursor: pointer;
      font-size: 16px;
    text-align: center;
    padding: 10px;
      width: 500px;
    }
    span:hover{
    background-image: linear-gradient(to right top, #f85370, #f35470, #ee5570, #e8556f, #e3566f);
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
     
    }
    #pro-content {
        display: none;
        background-color: #fff;
        padding: 20px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        border-radius: 10px;
    }

 
